<template>
  <article class="age-displayer">
    <p class="age-displayer__line">
      <span class="age-displayer__number">{{ years===0 ? "--": years }}</span>
      <span class="age-displayer__label"> years</span>
    </p>
    <p class="age-displayer__line">
      <span class="age-displayer__number">{{ months===0 ? "--": months }}</span>
      <span class="age-displayer__label"> months</span>
    </p>
    <p class="age-displayer__line">
      <span class="age-displayer__number">{{ days===0 ? "--": days }}</span>
      <span class="age-displayer__label"> days</span>
    </p>
  </article>
</template>

<script setup lang="ts">
defineProps({
  years: { type: Number, default: 0 },
  months: { type: Number, default: 0 },
  days: { type: Number, default: 0 },
});
</script>

<style scoped lang="scss">
.age-displayer {
  font-size: 2.5em;
  font-style: italic;
  font-weight: 800;
  margin: 50px 0 70px 0;
  &__line {
    margin-bottom: 0.7em;
    margin-top: 0;
  }
  &__number {
    color: var(--color-text-secondary);
  }
}

@media only screen and (min-width: $md-device) {
  .age-displayer {
    font-size: 3.5em;
    margin: 30px 0 70px 0;
  }
}
</style>
