<template>
  <article class="date-form">
    <div class="date-input">
      <div class="form__group">
        <label
          class="form__label"
          for="txtDay"
          :class="day.valid ? '' : 'form__label--invalid'"
          >DAY</label
        >
        <input
          class="form__input form__date-input"
          type="number"
          id="txtDay"
          placeholder="DD"
          min="1"
          max="31"
          v-model="day.value"
          required
          :class="day.valid ? '' : 'form__input--invalid'"
          @keyup="day.validate()"
        />
        <span class="form__helper-text">{{ day.errorMessage }}</span>
      </div>
      <div class="form__group">
        <label
          class="form__label"
          for="txtMonth"
          :class="month.valid ? '' : 'form__label--invalid'"
          >MONTH</label
        >
        <input
          class="form__input form__date-input"
          type="number"
          id="txtMonth"
          placeholder="MM"
          min="1"
          max="12"
          v-model="month.value"
          required
          :class="month.valid ? '' : 'form__input--invalid'"
          @keyup="month.validate()"
        />
        <span class="form__helper-text">{{ month.errorMessage }}</span>
      </div>
      <div class="form__group">
        <label
          class="form__label"
          for="txtYear"
          :class="year.valid ? '' : 'form__label--invalid'"
          >YEAR</label
        >
        <input
          class="form__input form__date-input"
          type="number"
          id="txtYear"
          placeholder="YYYY"
          min="1"
          max="3000"
          maxlength="4"
          v-model="year.value"
          required
          :class="year.valid ? '' : 'form__input--invalid'"
          @keyup="year.validate()"
        />
        <span class="form__helper-text">{{ year.errorMessage }}</span>
      </div>      
      <div class="date-input__message" v-if="formErrorMessage">{{ formErrorMessage }}</div>
    </div>
    
    <div class="division">      
      <button class="division__cta date-form__cta" @click.prevent="dateUpdated" aria-label="Calculate">
        <img
          src="../assets/images/icon-arrow.svg"
          alt="O"
          aria-hidden="true"
          class="date-form__icon"
        />
      </button>
    </div>
  </article>
</template>

<script setup lang="ts">
class Field {
  value: string;
  valid: boolean;
  errorMessage: string;
  constructor() {
    this.value = "";
    this.valid = true;
    this.errorMessage = "";
  }
  protected isInRange(a: number, b: number): boolean {
    return !isNaN(+this.value) && +this.value >= a && +this.value <= b;
  }
  validate(a: number, b: number, errorMessage: string): boolean {
    this.valid = this.value !== "";
    formErrorMessage.value = '';
    if (this.valid) {
      this.valid = this.isInRange(a, b);
      this.errorMessage = this.valid ? "" : errorMessage;
    } else {
      this.errorMessage = "The field is required";
    }
    return this.valid;
  }
}

class Day extends Field {
  validate(): boolean {
    return super.validate(1, 31, "Must be a valid day");
  }
}

class Month extends Field {
  validate(): boolean {
    return super.validate(1, 12, "Must be a valid month");
  }
}

class Year extends Field {
  validate(): boolean {
    return super.validate(
      1970,
      new Date().getFullYear(),
      "Must be in the past"
    );
  }
}

const day = reactive<Day>(new Day());
const month = reactive<Month>(new Month());
const year = reactive<Year>(new Year());
const formErrorMessage = ref<string>('');

const emit = defineEmits<{
  (e: "updated", d: Date): void;
}>();

const dateUpdated = () => {
  if (day.valid && month.valid && year.valid) {
    let date = new Date(+year.value, +month.value-1, +day.value);
    
    if (!isNaN(+date) && date.getMonth() === (+month.value-1)) {
      emit("updated", date);
    } else {
      formErrorMessage.value = 'Must be a valid date'
    }
  }
};
</script>

<style scoped lang="scss">
.date-input {
  margin: 50px 0 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.75em;
  &__icon {
    width: 25px;
  }
  &__message {
    color: var(--color-text-error);
    font-size: 0.6em;
    grid-column: 1 / last-column;
  }
}

.date-form {
  &__icon {
    width: 25px;
  }
}

.division {  
  text-align: center;
  position: relative; 
  &__cta {
    background-color: var(--color-text-secondary);
    border-radius: 50%;
    cursor: pointer;
    margin: 0 auto;
    padding: 15px;
    &:hover, &:focus {
      background-color: var(--color-text-primary);
    }
  }
  &__cta::before {
    background-color: var(--color-text-thirdtiary);
    content: '';
    height: 2px;
    left: 0;
    opacity: 30%;
    position: absolute;
    top: 26px;
    width: 100%;
  } 
}

@media only screen and (min-width: $md-device) {
  .date-input {
    margin: 30px 0 10px 0;
    grid-template-columns: repeat(4, 1fr);
  }
  .division {
    text-align: right;
    &__cta::before {
      top: 32px;
    }
  }
  .date-form {
    &__icon {
      width: 35px;
    }
  }
}
</style>
