<template>
  <div class="division">
    <hr class="division__rule" />
    <picture class="division__pic">
      <img
        src="../assets/images/icon-arrow.svg"
        alt="O"
        aria-hidden="true"
        class="division__icon"
      />
    </picture>
  </div>
</template>

<style scoped lang="scss">
.division {
  position: relative;
  display: grid;
  align-items: center;
  > * {
    grid-area: 1/-1;
  }
  &__pic {
    margin: 0 auto;
    background-color: var(--color-text-secondary);
    border-radius: 50%;  
    padding: 15px;
  }
  &__icon {
    width: 25px;
  }   
  &__rule {
    border: none;
    background-color: var(--color-text-thirdtiary);
    opacity: 30%;
    height: 2px;
    width: 100%;
  }
}
</style>
