:root {
  --color-background-primary: hsl(0, 0%, 100%); /* white */
  --color-text-primary: hsl(0, 0%, 8%); /* Off black */
  --color-text-secondary: hsl(259, 100%, 65%); /* Purple */
  --color-text-thirdtiary: hsl(0, 1%, 44%); /* Smokey grey */
  --color-text-error: hsl(0, 100%, 67%); /* Light red */
  --color-border: hsl(0, 0%, 86%); /* Light grey */
  --color-background-secondary: hsl(0, 0%, 86%); /* Light grey */
}
