@use "_colors.css";
@use "_tokens.scss";
@use "components/inputs.scss";

body {
  background-color: var(--color-background-secondary);
  color: var(--color-text-primary);
  font-family: $text-font-family;
  font-size: $text-font-size;
  line-height: 19px;
  height: 100vh;
  margin: 0;
}
  
* {box-sizing: border-box;}

@media only screen and (min-width: $md-device) {
  body {
    font-size: $text-md-font-size;
  }
}