.form {
    &__label {
        color: var(--color-text-thirdtiary);
        display: inline-block;
        font-size: 0.6em;
        font-weight: 700;
        letter-spacing: 4px;
        margin-bottom: 5px;
        &--invalid {
            color: var(--color-text-error);
        }
    }
    &__input {
        border-radius: 10px;
        border: 1px solid var(--color-text-thirdtiary);
        color: var(--color-text-primary);
        font-family: inherit;
        font-size: inherit;
        font-weight: 700;
        padding: 10px;
        width: 100%;
        &:focus {
            outline: 0.1em solid var(--color-text-secondary);
        }
    }
    &__date-input {
        -moz-appearance: textfield;
        -webkit-appearance: textfield;
        appearance: textfield;
    }
    &__helper-text {
        color: var(--color-text-error);
        font-size: 0.6em;
    }
}