<template>
  <main class="age-calculator__card">
    <DateInput @updated="updateDate"></DateInput>
    <AgeDisplayer :days="days" :months="months" :years="years"></AgeDisplayer>
  </main>
</template>

<script setup lang="ts">
const days = ref<number>();
const months = ref<number>();
const years = ref<number>();
const updateDate = (d: Date):void => {
  const today = new Date()  
  years.value= today.getFullYear() - d.getFullYear();
  months.value = today.getMonth() - d.getMonth();
  days.value = today.getDate() - d.getDate();
  
  if (days.value < 0) {
    months.value--;
    days.value += new Date(d.getFullYear(), d.getMonth(), 0).getDate();
  }

  if (months.value < 0) {
    years.value--;
    months.value += 12;
  }
}
</script>


<style scoped lang="scss">
.age-calculator {
  &__card {
    background-color: var(--color-background-primary);    
    border-radius: 25px 25px 100px 25px;
    margin: auto 15px;
    padding: 0 30px;
  }
}
@media only screen and (min-width: $md-device) {
  .age-calculator {
    &__card {
      max-width: 60%;
    }
  }  
}
</style>